## 如何讓兩個list 相乘

In [7]:
a = [1,3,5,7,9]
b = [2,4,6,8,10]

#traditional
ary = []
for i in range(0,len(a)):
    #print(a[i] * b[i])
    ary.append(a[i] * b[i])
print (ary)

#method 3
print([a[i]*b[i] for i in range(0,len(a))])

#method4
for item in zip(a,b):
    print(item)
    
#method 5
[f*s for f,s in zip(a,b)]

[2, 12, 30, 56, 90]
[2, 12, 30, 56, 90]
(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

[2, 12, 30, 56, 90]

In [9]:
import requests
res = requests.get('https://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=623e466f383a426b34363e673c423a1d02d2d2d70463a4e2644j50')
res.encoding = 'utf-8'
print(res.encoding)

utf-8

In [10]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text,'html.parser')
tag = soup.select('dt')
description = soup.select('dd')
for t,d in zip(tag,description):
    print (t.text,d.text.strip())

產業類別： 電腦軟體服務業
產業描述： 資訊軟體
員　　工： 10人
資 本 額： 200萬元
聯 絡 人： 丘先生
公司地址： 台北市中山區南京東路二段地圖
電　　話： 暫不提供
傳　　真： 暫不提供
公司網址： http://www.largitdata.com
相關連結： 更多





商業司登記
Google查公司名稱
求職服務專線 02-2912-6104 轉2
廠商求才專線

In [17]:
import numpy as np
na = np.array(a)
nb = np.array(b)

nc = na * nb
print (nc)

[ 2 12 30 56 90]

In [22]:
na = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print(na)
print(na[0][0])
print(na[:,0])
print(na[0,:])

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
1
[1 6]
[1 2 3 4 5]

In [31]:
import pandas as pd
df = pd.DataFrame([['frank','M',29],['Mary','F',23],['Tom','M',35],['Ted','M',33],['Jean','F',21],['Lisa','F',20]])
df

       0  1   2
0  frank  M  29
1   Mary  F  23
2    Tom  M  35
3    Ted  M  33
4   Jean  F  21
5   Lisa  F  20

In [32]:
df.columns
df.columns = ['name','gender','age']
df
df['age']

0    29
1    23
2    35
3    33
4    21
5    20
Name: age, dtype: int64

## 序列

In [34]:
s = pd.Series([21000,18900,18000])
s
s[1]

18900

In [38]:
s = pd.Series([21000,18900,18000],index = ['Iphone','Edge','hTC'])
#s['hTC']
s

Iphone    21000
Edge      18900
hTC       18000
dtype: int64

In [46]:
s = pd.Series({'Iphone':21000,'Edge':18900,'hTC':18000})
print(s)
print(s[2])
print(s[1:3])
print(s['Edge'])
print(s<20000)
print(s[s<20000])

Edge      18900
Iphone    21000
hTC       18000
dtype: int64
18000
Iphone    21000
hTC       18000
dtype: int64
18900
Edge       True
Iphone    False
hTC        True
dtype: bool
Edge    18900
hTC     18000
dtype: int64

In [49]:
print(s['Iphone'])
s['Iphone'] = 20000
s

20000

Edge      18900
Iphone    20000
hTC       18000
dtype: int64

In [50]:
s*0.8

Edge      15120.0
Iphone    16000.0
hTC       14400.0
dtype: float64

In [52]:
s.describe()

count        3.000000
mean     18966.666667
std       1001.665280
min      18000.000000
25%      18450.000000
50%      18900.000000
75%      19450.000000
max      20000.000000
dtype: float64

## Pandas DataFrame

In [70]:
import pandas as pd
df = pd.DataFrame([['frank','M',29],['Mary','F',23],['Tom','M',35],['Ted','M',33],['Jean','F',21],['Lisa','F',20]])
df.columns = ['name','gender','age']
df

    name gender  age
0  frank      M   29
1   Mary      F   23
2    Tom      M   35
3    Ted      M   33
4   Jean      F   21
5   Lisa      F   20

In [55]:
df.describe()

             age
count   6.000000
mean   26.833333
std     6.400521
min    20.000000
25%    21.500000
50%    26.000000
75%    32.000000
max    35.000000

## 資料篩選

In [58]:
df[df['gender']=='M']

    name gender  age
0  frank      M   29
2    Tom      M   35
3    Ted      M   33

In [60]:
(df['gender']=='M') & (df['age'] >=30)

0    False
1    False
2     True
3     True
4    False
5    False
dtype: bool

In [62]:
df['employee'] =True
df

    name gender  age  employee
0  frank      M   29      True
1   Mary      F   23      True
2    Tom      M   35      True
3    Ted      M   33      True
4   Jean      F   21      True
5   Lisa      F   20      True

In [81]:
df.loc[6] = {'age':20,'gender':'F','name':'qoo'}
df.drop(6,inplace = True)
df

    name gender age
0  frank      M  29
1   Mary      F  23
2    Tom      M  35
3    Ted      M  33
4   Jean      F  21
5   Lisa      F  20

## 處理缺失值

In [84]:
import numpy as np
np.nan
na = np.array([1,2,3,np.nan,4,5])
#na.mean()\
na

array([  1.,   2.,   3.,  nan,   4.,   5.])

In [85]:
import pandas as pd
df = pd.DataFrame([['frank','M',np.nan],['Mary',np.nan,np.nan],['Tom','M',35],['Ted','M',33],['Jean',np.nan,21],['Lisa','F',20]])
df.columns = ['name','gender','age']
df

    name gender   age
0  frank      M   NaN
1   Mary    NaN   NaN
2    Tom      M  35.0
3    Ted      M  33.0
4   Jean    NaN  21.0
5   Lisa      F  20.0

In [86]:
df['name']

0    frank
1     Mary
2      Tom
3      Ted
4     Jean
5     Lisa
Name: name, dtype: object

In [87]:
df.name

0    frank
1     Mary
2      Tom
3      Ted
4     Jean
5     Lisa
Name: name, dtype: object

In [90]:
df.name.isnull().values.any()

False

In [91]:
df.gender.isnull().values.any()

True

In [94]:
#整個 df 是否有NaN的值
df.isnull().values.any()

True

In [95]:
df

    name gender   age
0  frank      M   NaN
1   Mary    NaN   NaN
2    Tom      M  35.0
3    Ted      M  33.0
4   Jean    NaN  21.0
5   Lisa      F  20.0

In [96]:
df.isnull().sum()

name      0
gender    2
age       2
dtype: int64

In [97]:
df.isnull().sum().sum()

4

In [98]:
df.dropna()

   name gender   age
2   Tom      M  35.0
3   Ted      M  33.0
5  Lisa      F  20.0

In [99]:
?df.drop

In [104]:
df.fillna(0)
df['age'].fillna(0)
df

    name gender   age
0  frank      M   NaN
1   Mary    NaN   NaN
2    Tom      M  35.0
3    Ted      M  33.0
4   Jean    NaN  21.0
5   Lisa      F  20.0

In [106]:
df.groupby("gender")['age'].transform("mean")

0    34.0
1     NaN
2    34.0
3    34.0
4     NaN
5    20.0
Name: age, dtype: float64

In [109]:
df.fillna(method='bfill')

    name gender   age
0  frank      M  35.0
1   Mary      M  35.0
2    Tom      M  35.0
3    Ted      M  33.0
4   Jean      F  21.0
5   Lisa      F  20.0

In [110]:
df.interpolate()

    name gender   age
0  frank      M   NaN
1   Mary    NaN   NaN
2    Tom      M  35.0
3    Ted      M  33.0
4   Jean    NaN  21.0
5   Lisa      F  20.0

## 檔案下載

In [112]:
import requests

res = requests.get('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/rent_591_sample.csv')
with open ('rent_591_sample.csv','wb') as f: #'wb 都可以寫入!?'
    f.write(res.content)

## 數據轉換

In [150]:
import pandas
df = pandas.read_csv('rent_591_sample.csv',index_col=0,encoding='utf-8')
df.head(3)

,detail_url,search_date,title,address,floor_info,price,layout,building_area,building_use,latitude,longitude
0,https://rent.591.com.tw/rent-detail-1050934.html,2017-05-14,套房出租-近東方學院(六~八月可入住),高雄市湖內區民生街,3F/3F,"4,500元/月",NaN,6.0,透天厝/獨立套房,22.878436,120.250810
1,https://rent.591.com.tw/rent-detail-1008046.html,2017-05-14,好房子【聰明的你、妳快來租吧】,新北市蘆洲區長安街,4F/5F,"7,500元/月",NaN,10.0,透天厝/獨立套房,25.081558,121.461868
2,https://rent.591.com.tw/rent-detail-1586266.html,2017-05-12,陽台大套房(獨立洗衣機)近頂溪捷運站,新北市永和區中山路一段,8F/12F,"11,000元/月",NaN,8.0,電梯大樓/分租套房,25.010293,121.511328

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70315 entries, 0 to 70314
Data columns (total 12 columns):
Unnamed: 0       70315 non-null int64
detail_url       70315 non-null object
search_date      70315 non-null object
title            70315 non-null object
address          70315 non-null object
floor_info       69686 non-null object
price            70315 non-null object
layout           22630 non-null object
building_area    70315 non-null float64
building_use     65330 non-null object
latitude         70315 non-null float64
longitude        70315 non-null float64
dtypes: float64(3), int64(1), object(8)
memory usage: 6.4+ MB

In [119]:
df.columns

Index(['detail_url', 'search_date', 'title', 'address', 'floor_info', 'price',
       'layout', 'building_area', 'building_use', 'latitude', 'longitude'],
      dtype='object')

In [124]:
#df[df['building_area'] > 101]
#df['building_area'] > 101
df['building_area']/0.3025

0         19.834711
1         33.057851
2         26.446281
3         26.446281
4         23.140496
5         79.338843
6         23.140496
7         13.223140
8         29.752066
9        105.785124
10        34.710744
11        19.834711
12        62.809917
13        79.338843
14        33.057851
15       257.851240
16        59.537190
17       158.677686
18        16.528926
19        16.528926
20       219.338843
21        16.528926
22        33.057851
23        26.446281
24        26.446281
25        23.140496
26       148.760331
27        16.528926
28       125.619835
29        33.057851
            ...
70285     99.173554
70286     16.528926
70287     46.280992
70288    100.826446
70289     42.975207
70290     49.586777
70291    181.818182
70292     18.181818
70293     66.115702
70294    125.619835
70295    148.760331
70296     99.173554
70297     26.446281
70298     23.140496
70299     26.446281
70300     16.528926
70301     33.057851
70302    336.429752
70303     19.834711
70304     44.958678
70305     23.140496
70306    300.826446
70307     33.057851
70308    165.289256
70309     33.057851
70310     26.446281
70311     62.809917
70312     19.834711
70313     16.528926
70314     33.057851
Name: building_area, Length: 70315, dtype: float64

In [125]:
import numpy as np
np.sqrt(df['building_area'])

0         2.449490
1         3.162278
2         2.828427
3         2.828427
4         2.645751
5         4.898979
6         2.645751
7         2.000000
8         3.000000
9         5.656854
10        3.240370
11        2.449490
12        4.358899
13        4.898979
14        3.162278
15        8.831761
16        4.243819
17        6.928203
18        2.236068
19        2.236068
20        8.145551
21        2.236068
22        3.162278
23        2.828427
24        2.828427
25        2.645751
26        6.708204
27        2.236068
28        6.164414
29        3.162278
           ...
70285     5.477226
70286     2.236068
70287     3.741657
70288     5.522681
70289     3.605551
70290     3.872983
70291     7.416198
70292     2.345208
70293     4.472136
70294     6.164414
70295     6.708204
70296     5.477226
70297     2.828427
70298     2.645751
70299     2.828427
70300     2.236068
70301     3.162278
70302    10.088112
70303     2.449490
70304     3.687818
70305     2.645751
70306     9.539392
70307     3.162278
70308     7.071068
70309     3.162278
70310     2.828427
70311     4.358899
70312     2.449490
70313     2.236068
70314     3.162278
Name: building_area, Length: 70315, dtype: float64

In [129]:
df['address']+'-'+df['price']

0            高雄市湖內區民生街-4,500元/月
1            新北市蘆洲區長安街-7,500元/月
2         新北市永和區中山路一段-11,000元/月
3            屏東縣潮州鎮六合路-5,000元/月
4            桃園市觀音區四維路-5,000元/月
5           新北市淡水區民族路-22,000元/月
6          新竹縣新豐鄉康樂路一段-6,500元/月
7          台中市西屯區西屯路二段-3,000元/月
8            台中市西屯區至善路-6,800元/月
9          基隆市安樂區樂利三街-17,000元/月
10           新竹市東區明湖路-10,000元/月
11        台北市文山區指南路二段-10,000元/月
12        台中市北屯區瀋陽路三段-16,000元/月
13           嘉義市西區興業西路-7,500元/月
14          新北市新店區寶橋路-11,000元/月
15          台北市北投區新民路-25,000元/月
16       新北市淡水區中正東路一段-15,000元/月
17          桃園市楊梅區蘋果路-23,000元/月
18            嘉義市東區學府路-3,000元/月
19           台東縣台東市豐盛路-3,900元/月
20          台北市松山區北寧路-70,000元/月
21           彰化縣彰化市民族路-5,000元/月
22           桃園市桃園區大有路-7,000元/月
23           台中市后里區民生路-5,500元/月
24           新竹縣新豐鄉松林村-6,000元/月
25            台南市東區光明街-5,400元/月
26          新竹縣竹北市新泰路-50,000元/月
27          台中市東區復興路四段-3,200元/月
28          桃園市桃園區健行路-39,000元/月
29           台中市沙鹿區中山路-6,500元/月
                  ...
70285       桃園市中壢區永華街-12,800元/月
70286      台北市中正區汀洲路三段-9,500元/月
70287       桃園市中壢區大仁一街-5,000元/月
70288       桃園市楊梅區金山街-14,000元/月
70289        新竹市東區中山路-14,000元/月
70290        新竹市東區林森路-16,000元/月
70291        新竹市東區慈雲路-24,000元/月
70292     台中市北屯區崇德十路二段-7,500元/月
70293       新北市新店區光明街-20,000元/月
70294    桃園市大園區領航北路四段-15,000元/月
70295       雲林縣斗六市江厝路-12,000元/月
70296     桃園市中壢區新生路三段-25,000元/月
70297      台北市內湖區環山路二段-9,000元/月
70298        台南市佳里區塭仔內-4,000元/月
70299       新北市汐止區福德一路-7,800元/月
70300        台中市西屯區洛陽路-5,800元/月
70301       桃園市中壢區新中北路-5,000元/月
70302     台北市北投區天母西路-170,000元/月
70303         台南市東區東寧路-4,200元/月
70304      新北市汐止區汐萬路二段-8,500元/月
70305        高雄市三民區建工路-5,800元/月
70306      台北市內湖區瑞光路-135,000元/月
70307       台中市北區太原路三段-6,499元/月
70308       雲林縣斗六市久安中路-8,000元/月
70309       台中市北區太原路三段-6,799元/月
70310      新竹市東區中華路二段-13,500元/月
70311       高雄市前金區大同二路-8,800元/月
70312        台中市西屯區福星路-5,999元/月
70313        高雄市大社區中華路-3,300元/月
70314       台北市大同區太原路-17,000元/月
Length: 70315, dtype: object

In [130]:
df['squre_feet'] = df['building_area']/0.3025 #新增欄位
df.head(5)

,detail_url,search_date,title,address,floor_info,price,layout,building_area,building_use,latitude,longitude,squre_feet
0,https://rent.591.com.tw/rent-detail-1050934.html,2017-05-14,套房出租-近東方學院(六~八月可入住),高雄市湖內區民生街,3F/3F,"4,500元/月",NaN,6.0,透天厝/獨立套房,22.878436,120.250810,19.834711
1,https://rent.591.com.tw/rent-detail-1008046.html,2017-05-14,好房子【聰明的你、妳快來租吧】,新北市蘆洲區長安街,4F/5F,"7,500元/月",NaN,10.0,透天厝/獨立套房,25.081558,121.461868,33.057851
2,https://rent.591.com.tw/rent-detail-1586266.html,2017-05-12,陽台大套房(獨立洗衣機)近頂溪捷運站,新北市永和區中山路一段,8F/12F,"11,000元/月",NaN,8.0,電梯大樓/分租套房,25.010293,121.511328,26.446281
3,https://rent.591.com.tw/rent-detail-1699948.html,2017-05-13,火車站附近~~優質套房,屏東縣潮州鎮六合路,3F/3F,"5,000元/月",NaN,8.0,透天厝/獨立套房,22.551346,120.538032,26.446281
4,https://rent.591.com.tw/rent-detail-1404725.html,2017-05-12,觀音四維路優質陽台套房,桃園市觀音區四維路,4F/5F,"5,000元/月",NaN,7.0,透天厝/分租套房,25.043652,121.141518,23.140496

In [163]:
df['price'].str.strip('元/月')


def normalizePrice(price):
    #return int(price.replace('元/月','').replace(',',''))
    return int(price.strip('元/月').replace(',',''))
    #print (int((price.strip('元/月').replace(',',''))))
    #return int(''.joint(price.strip('元/月').split(',')))
print(normalizePrice('4,500'))

4500

In [147]:
df['price'].map(normalizePrice)

0          4500
1          7500
2         11000
3          5000
4          5000
5         22000
6          6500
7          3000
8          6800
9         17000
10        10000
11        10000
12        16000
13         7500
14        11000
15        25000
16        15000
17        23000
18         3000
19         3900
20        70000
21         5000
22         7000
23         5500
24         6000
25         5400
26        50000
27         3200
28        39000
29         6500
          ...
70285     12800
70286      9500
70287      5000
70288     14000
70289     14000
70290     16000
70291     24000
70292      7500
70293     20000
70294     15000
70295     12000
70296     25000
70297      9000
70298      4000
70299      7800
70300      5800
70301      5000
70302    170000
70303      4200
70304      8500
70305      5800
70306    135000
70307      6499
70308      8000
70309      6799
70310     13500
70311      8800
70312      5999
70313      3300
70314     17000
Name: price, Length: 70315, dtype: int64

In [165]:
df2 = pandas.DataFrame(\
[\
 [60,70,50],\
 [80,79,68],\
 [63,66,82]   \
])

df2.apply(lambda e: e.max()-e.min(),axis=0)

0    20
1    13
2    32
dtype: int64

In [151]:
df

,detail_url,search_date,title,address,floor_info,price,layout,building_area,building_use,latitude,longitude
0,https://rent.591.com.tw/rent-detail-1050934.html,2017-05-14,套房出租-近東方學院(六~八月可入住),高雄市湖內區民生街,3F/3F,"4,500元/月",NaN,6.00,透天厝/獨立套房,22.878436,120.250810
1,https://rent.591.com.tw/rent-detail-1008046.html,2017-05-14,好房子【聰明的你、妳快來租吧】,新北市蘆洲區長安街,4F/5F,"7,500元/月",NaN,10.00,透天厝/獨立套房,25.081558,121.461868
2,https://rent.591.com.tw/rent-detail-1586266.html,2017-05-12,陽台大套房(獨立洗衣機)近頂溪捷運站,新北市永和區中山路一段,8F/12F,"11,000元/月",NaN,8.00,電梯大樓/分租套房,25.010293,121.511328
3,https://rent.591.com.tw/rent-detail-1699948.html,2017-05-13,火車站附近~~優質套房,屏東縣潮州鎮六合路,3F/3F,"5,000元/月",NaN,8.00,透天厝/獨立套房,22.551346,120.538032
4,https://rent.591.com.tw/rent-detail-1404725.html,2017-05-12,觀音四維路優質陽台套房,桃園市觀音區四維路,4F/5F,"5,000元/月",NaN,7.00,透天厝/分租套房,25.043652,121.141518
5,https://rent.591.com.tw/rent-detail-1633388.html,2017-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,"22,000元/月",2房1廳1衛1陽臺,24.00,電梯大樓/整層住家,25.136948,121.462779
6,https://rent.591.com.tw/rent-detail-1299940.html,2017-05-14,近明新、台元/全新完工/飯店式電梯套房,新竹縣新豐鄉康樂路一段,3F/5F,"6,500元/月",NaN,7.00,電梯大樓/雅房,24.871279,120.986334
7,https://rent.591.com.tw/rent-detail-1051432.html,2017-05-14,附網路電視包水費!離逢甲商圈近,台中市西屯區西屯路二段,3F/5F,"3,000元/月",NaN,4.00,透天厝/雅房,24.173195,120.645027
8,https://rent.591.com.tw/rent-detail-2039449.html,2017-05-13,逢甲大學-有陽台的套房(獨立水電錶),台中市西屯區至善路,10F/14F,"6,800元/月",NaN,9.00,電梯大樓/獨立套房,24.178854,120.644530
9,https://rent.591.com.tw/rent-detail-1245175.html,2017-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,"17,000元/月",2房1廳2衛2陽臺,32.00,電梯大樓/整層住家,25.130052,121.720788
10,https://rent.591.com.tw/rent-detail-1902990.html,2017-05-12,絕美煙波美裝潢套房出租,新竹市東區明湖路,3F/8F,"10,000元/月",NaN,10.50,電梯大樓/獨立套房,24.776557,120.967329
11,https://rent.591.com.tw/rent-detail-1944741.html,2017-05-14,政大靜巷優質(女)套房，可住雙人,台北市文山區指南路二段,5F/5F,"10,000元/月",NaN,6.00,公寓/獨立套房,24.988698,121.574008
12,https://rent.591.com.tw/rent-detail-1548846.html,2017-05-14,5樓透天近北新國中\\\'四維國小\\\'財神廟,台中市北屯區瀋陽路三段,1F/5F,"16,000元/月",NaN,19.00,透天厝/辦公,24.172078,120.696128
13,https://rent.591.com.tw/rent-detail-2042141.html,2017-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,"7,500元/月",2房2廳1衛1陽臺,24.00,電梯大樓/整層住家,23.468374,120.434201
14,https://rent.591.com.tw/rent-detail-1326087.html,2017-05-13,七張捷運站旁大馬路邊獨立式套房,新北市新店區寶橋路,3F/7F,"11,000元/月",NaN,10.00,電梯大樓/獨立套房,24.974970,121.545060
15,https://rent.591.com.tw/rent-detail-2037235.html,2017-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,"25,000元/月",4房3廳3衛3陽臺,78.00,電梯大樓/整層住家,25.140992,121.508139
16,https://rent.591.com.tw/rent-detail-2226232.html,2017-05-13,出海口海景高樓層溫馨房,新北市淡水區中正東路一段,19F/21F,"15,000元/月",1房1廳1衛0陽臺,18.01,電梯大樓/整層住家,25.159416,121.456672
17,https://rent.591.com.tw/rent-detail-1601466.html,2017-05-15,新四房兩廳鄰合晶科技歡迎分租,桃園市楊梅區蘋果路,整棟/3F,"23,000元/月",4房2廳2衛3陽臺,48.00,透天厝/住辦,24.900780,121.184987
18,https://rent.591.com.tw/rent-detail-2107855.html,2017-05-09,"嘉義大學附近,交通便利",嘉義市東區學府路,1F/2F,"3,000元/月",NaN,5.00,透天厝/獨立套房,23.464327,120.476271
19,https://rent.591.com.tw/rent-detail-2031537.html,2017-05-15,近台東大學優質平價套房,台東縣台東市豐盛路,1F/2F,"3,900元/月",NaN,5.00,透天厝/獨立套房,22.743134,121.139478
20,https://rent.591.com.tw/rent-detail-1954040.html,2017-05-13,小巨捷運敦化學區樓中樓可三代同堂兼辦公,台北市松山區北寧路,5F/7F,"70,000元/月",7房2廳2衛1陽臺,66.35,電梯大樓/整層住家,25.051868,121.553830
21,https://rent.591.com.tw/rent-detail-2206861.html,2017-05-15,全新裝潢，高級衛浴乾濕分離單人套房,彰化縣彰化市民族路,3F/4F,"5,000元/月",NaN,5.00,透天厝/獨立套房,24.072944,120.538938
22,https://rent.591.com.tw/rent-detail-1392595.html,2017-05-13,台北東京*套房自租,桃園市桃園區大有路,12F/17F,"7,000元/月",NaN,10.00,電梯大樓/獨立套房,25.016318,121.316700
23,https://rent.591.com.tw/rent-detail-2259478.html,2017-05-13,市區中心獨立套房(近市區.銀行.學校),台中市后里區民生路,2F/3F,"5,500元/月",NaN,8.00,透天厝/獨立套房,24.307666,120.717084
24,https://rent.591.com.tw/rent-detail-2238354.html,2017-05-12,優質套房出租,新竹縣新豐鄉松林村,2F/4F,"6,000元/月",NaN,8.00,透天厝/獨立套房,24.870937,120.991461
25,https://rent.591.com.tw/rent-detail-1891394.html,2017-05-13,成大暑期短/長mei0926108395,台南市東區光明街,1F/4F,"5,400元/月",NaN,7.00,透天厝/獨立套房,22.995903,120.229399
26,https://rent.591.com.tw/rent-detail-2217774.html,2017-05-12,住辦，住家，店面,新竹縣竹北市新泰路,4F/9F,"50,000元/月",3房2廳2衛0陽臺,45.00,透天厝/整層住家,24.840336,121.008507
27,https://rent.591.com.tw/rent-detail-2296316.html,2017-05-12,近新時代百貨精裝修電梯套房,台中市東區復興路四段,8F/10F,"3,200元/月",NaN,5.00,電梯大樓/獨立套房,24.137832,120.689875
28,https://rent.591.com.tw/rent-detail-2030775.html,2017-05-12,健行路金店面-Ｔ路口紅綠燈下-具雙車位,桃園市桃園區健行路,1F/3F,"39,000元/月",NaN,38.00,透天厝/店面,25.022335,121.309575
29,https://rent.591.com.tw/rent-detail-2227545.html,2017-05-14,全新優質套房出租..,台中市沙鹿區中山路,3F/4F,"6,500元/月",NaN,10.00,透天厝/獨立套房,24.236850,120.565147
...,...,...,...,...,...,...,...,...,...,...,...
70285,https://rent.591.com.tw/rent-detail-5192824.html,2017-05-12,內壢美4房附部分家電,桃園市中壢區永華街,4F/4F,"12,800元/月",4房2廳1衛0陽臺,30.00,公寓/整層住家,24.980533,121.257751
70286,https://rent.591.com.tw/rent-detail-5192828.html,2017-05-13,近公館捷運站景觀套房,台北市中正區汀洲路三段,5F/7F,"9,500元/月",1房0廳1衛0陽臺,5.00,公寓/整層住家,25.013893,121.534720
70287,https://rent.591.com.tw/rent-detail-5192836.html,2017-05-13,近中原夜市，中原大學,桃園市中壢區大仁一街,2F/6F,"5,000元/月",NaN,14.00,電梯大樓/獨立套房,24.953859,121.242319
70288,https://rent.591.com.tw/rent-detail-5192845.html,2017-05-12,全新屋況設備景觀宅附停車位及\\機車位,桃園市楊梅區金山街,7F/15F,"14,000元/月",2房1廳1衛2陽臺,30.50,電梯大樓/整層住家,24.910914,121.159351
70289,https://rent.591.com.tw/rent-detail-5192846.html,2017-05-13,四維路北大路交叉旁~近西門街西大路林森路,新竹市東區中山路,7F/10F,"14,000元/月",NaN,13.00,電梯大樓/獨立套房,24.800970,120.960941
70290,https://rent.591.com.tw/rent-detail-5192866.html,2017-05-13,振興路中華路三段交叉旁四維路近中華路二段,新竹市東區林森路,3F/10F,"16,000元/月",NaN,15.00,電梯大樓/獨立套房,24.796188,120.960196
70291,https://rent.591.com.tw/rent-detail-5192869.html,2017-05-13,新竹租屋-園區優3房傢電全附平車超大露台,新竹市東區慈雲路,15F/16F,"24,000元/月",3房2廳2衛2陽臺,55.00,電梯大樓/整層住家,24.790408,121.010708
70292,https://rent.591.com.tw/rent-detail-5192888.html,2017-05-12,全新中科逢甲電梯套房，獨洗獨曬多戶可選,台中市北屯區崇德十路二段,2F/5F,"7,500元/月",NaN,5.50,別墅/獨立套房,24.192550,120.676730
70293,https://rent.591.com.tw/rent-detail-5192907.html,2017-05-12,近捷運新店站光明小吃街碧潭風景區大潤發,新北市新店區光明街,4F/5F,"20,000元/月",2房1廳1衛1陽臺,20.00,公寓/整層住家,24.961912,121.539525
70294,https://rent.591.com.tw/rent-detail-5192912.html,2017-05-12,[捷運高鐵特區]宜誠青埔市-附家具洗衣機,桃園市大園區領航北路四段,9F/10F,"15,000元/月",3房2廳2衛0陽臺,38.00,電梯大樓/整層住家,25.023195,121.220040
70295,https://rent.591.com.tw/rent-detail-5192922.html,2017-05-12,近雲科大精緻裝潢，全新傢俱家電也可售屋,雲林縣斗六市江厝路,4F/5F,"12,000元/月",4房2廳2衛4陽臺,45.00,公寓/整層住家,23.675011,120.525612
70296,https://rent.591.com.tw/rent-detail-5192926.html,2017-05-12,首選大氣格局滿足挑剔的你,桃園市中壢區新生路三段,8F/15F,"25,000元/月",3房2廳2衛2陽臺,30.00,電梯大樓/整層住家,25.002789,121.213616
70297,https://rent.591.com.tw/rent-detail-5192934.html,2017-05-12,"近內科德明,獨立陽台雅房釋出",台北市內湖區環山路二段,5F/5F,"9,000元/月",NaN,8.00,公寓/雅房,25.086512,121.570930
70298,https://rent.591.com.tw/rent-detail-5192942.html,2017-05-12,台南市佳里區雅房出租＊仲介勿擾＊,台南市佳里區塭仔內,2F/3F,"4,000元/月",NaN,7.00,透天厝/雅房,23.170185,120.171215
70299,https://rent.591.com.tw/rent-detail-5192983.html,2017-05-12,屋況佳生活機能棒附家俱,新北市汐止區福德一路,5F/5F,"7,800元/月",NaN,8.00,透天厝/獨立套房,25.064566,121.630470
70300,https://rent.591.com.tw/rent-detail-5192991.html,2017-05-12,文心西屯~五臟俱全簡潔套房《屋主自租》,台中市西屯區洛陽路,6F/6F,"5,800元/月",NaN,5.00,公寓/獨立套房,24.167176,120.651325
70301,https://rent.591.com.tw/rent-detail-5193013.html,2017-05-12,中原大學、中原商圈、學生優惠,桃園市中壢區新中北路,5F/7F,"5,000元/月",NaN,10.00,電梯大樓/獨立套房,24.959332,121.239132
70302,https://rent.591.com.tw/rent-detail-5193057.html,2017-05-12,近振興街磺溪名社區●2房超寬敞空間含車位,台北市北投區天母西路,3F/23F,"170,000元/月",2房2廳3衛3陽臺,101.77,電梯大樓/整層住家,25.118535,121.522871
70303,https://rent.591.com.tw/rent-detail-5193064.html,2017-05-13,成大夢時代超值套房(包水、網路),台南市東區東寧路,4F/5F,"4,200元/月",NaN,6.00,透天厝/獨立套房,22.990912,120.222326
70304,https://rent.591.com.tw/rent-detail-5193073.html,2017-05-12,好山好水...棒啦!!,新北市汐止區汐萬路二段,15F/15F,"8,500元/月",1房1廳1衛1陽臺,13.60,電梯大樓/整層住家,25.090749,121.648849
70305,https://rent.591.com.tw/rent-detail-5193089.html,2017-05-12,全新裝潢刷卡門禁近高應大步行2分上學,高雄市三民區建工路,3F/4F,"5,800元/月",NaN,7.00,透天厝/獨立套房,22.652017,120.328445
70306,https://rent.591.com.tw/rent-detail-5193091.html,2017-05-12,租瑞光路隔間辦公室87519898進捷運,台北市內湖區瑞光路,8F/8F,"135,000元/月",NaN,91.00,電梯大樓/辦公,25.068552,121.582966
70307,https://rent.591.com.tw/rent-detail-5193105.html,2017-05-13,運動套房❤貓奴首選❤陽台獨洗❤台電計費,台中市北區太原路三段,5F/6F,"6,499元/月",NaN,10.00,公寓/獨立套房,24.166702,120.686582
70308,https://rent.591.com.tw/rent-detail-5193118.html,2017-05-12,斗六九老爺西廂平房,雲林縣斗六市久安中路,1F/1F,"8,000元/月",3房2廳2衛0陽臺,50.00,透天厝/整層住家,23.681630,120.513299
70309,https://rent.591.com.tw/rent-detail-5193127.html,2017-05-12,東山套房❤陽台獨洗❤系統家具❤即刻入住,台中市北區太原路三段,3F/5F,"6,799元/月",NaN,10.00,透天厝/獨立套房,24.164725,120.686579
70310,https://rent.591.com.tw/rent-detail-5193159.html,2017-05-12,民權路交叉近民族路民生路~遠東巨城百貨旁,新竹市東區中華路二段,5F/10F,"13,500元/月",NaN,8.00,電梯大樓/獨立套房,24.806402,120.978115
70311,https://rent.591.com.tw/rent-detail-5193163.html,2017-05-12,愛河景觀大套房,高雄市前金區大同二路,10F/12F,"8,800元/月",NaN,19.00,電梯大樓/獨立套房,22.624536,120.289489
70312,https://rent.591.com.tw/rent-detail-5193164.html,2017-05-12,全新未住~時尚單人床~歡迎入住逢甲,台中市西屯區福星路,2F/4F,"5,999元/月",NaN,6.00,透天厝/獨立套房,24.174660,120.646908
70313,https://rent.591.com.tw/rent-detail-5193215.html,2017-05-12,＜超值學生雅房＞設備齊全！全都包！,高雄市大社區中華路,3F/3F,"3,300元/月",NaN,5.00,透天厝/雅房,22.727473,120.348830
70314,https://rent.591.com.tw/rent-detail-5193225.html,2017-05-12,近捷運中山站【全新電梯小豪邸】獨立洗衣機,台北市大同區太原路,3F/20F,"17,000元/月",NaN,10.00,電梯大樓/獨立套房,25.055486,121.516793

In [167]:
df.applymap(lambda e: '-' if pandas.isnull(e) else e).head()

,detail_url,search_date,title,address,floor_info,price,layout,building_area,building_use,latitude,longitude
0,https://rent.591.com.tw/rent-detail-1050934.html,2017-05-14,套房出租-近東方學院(六~八月可入住),高雄市湖內區民生街,3F/3F,"4,500元/月",-,6.0,透天厝/獨立套房,22.878436,120.250810
1,https://rent.591.com.tw/rent-detail-1008046.html,2017-05-14,好房子【聰明的你、妳快來租吧】,新北市蘆洲區長安街,4F/5F,"7,500元/月",-,10.0,透天厝/獨立套房,25.081558,121.461868
2,https://rent.591.com.tw/rent-detail-1586266.html,2017-05-12,陽台大套房(獨立洗衣機)近頂溪捷運站,新北市永和區中山路一段,8F/12F,"11,000元/月",-,8.0,電梯大樓/分租套房,25.010293,121.511328
3,https://rent.591.com.tw/rent-detail-1699948.html,2017-05-13,火車站附近~~優質套房,屏東縣潮州鎮六合路,3F/3F,"5,000元/月",-,8.0,透天厝/獨立套房,22.551346,120.538032
4,https://rent.591.com.tw/rent-detail-1404725.html,2017-05-12,觀音四維路優質陽台套房,桃園市觀音區四維路,4F/5F,"5,000元/月",-,7.0,透天厝/分租套房,25.043652,121.141518

In [170]:
df['search_date'].head()

0    2017-05-14
1    2017-05-14
2    2017-05-12
3    2017-05-13
4    2017-05-12
Name: search_date, dtype: object

## 處理時間格式

In [174]:
from datetime import datetime
current_time = datetime.now()
current_time.strftime('%Y-%m-%d')

'2017-08-19'

In [175]:
s = '2016-08-08'
datetime.strptime(s,'%Y-%m-%d')

datetime.datetime(2016, 8, 8, 0, 0)

In [176]:
current_time - datetime.strptime(s,'%Y-%m-%d')

datetime.timedelta(376, 53069, 241765)

In [177]:
from datetime import datetime, timedelta
current_time = datetime.now()

current_time - timedelta(days=1)

datetime.datetime(2017, 8, 18, 14, 50, 14, 774529)

In [179]:
for i in range(1,10):
    print(current_time - timedelta(days=i))

2017-08-18 14:50:14.774529
2017-08-17 14:50:14.774529
2017-08-16 14:50:14.774529
2017-08-15 14:50:14.774529
2017-08-14 14:50:14.774529
2017-08-13 14:50:14.774529
2017-08-12 14:50:14.774529
2017-08-11 14:50:14.774529
2017-08-10 14:50:14.774529

In [182]:
from time import mktime
mktime(current_time.timetuple())


datetime.fromtimestamp(1503125414.0)

datetime.datetime(2017, 8, 19, 14, 50, 14)

In [189]:
pandas.to_datetime(df['search_date'], format=('%Y-%m-%d'))

0       2017-05-14
1       2017-05-14
2       2017-05-12
3       2017-05-13
4       2017-05-12
5       2017-05-12
6       2017-05-14
7       2017-05-14
8       2017-05-13
9       2017-05-14
10      2017-05-12
11      2017-05-14
12      2017-05-14
13      2017-05-14
14      2017-05-13
15      2017-05-14
16      2017-05-13
17      2017-05-15
18      2017-05-09
19      2017-05-15
20      2017-05-13
21      2017-05-15
22      2017-05-13
23      2017-05-13
24      2017-05-12
25      2017-05-13
26      2017-05-12
27      2017-05-12
28      2017-05-12
29      2017-05-14
           ...
70285   2017-05-12
70286   2017-05-13
70287   2017-05-13
70288   2017-05-12
70289   2017-05-13
70290   2017-05-13
70291   2017-05-13
70292   2017-05-12
70293   2017-05-12
70294   2017-05-12
70295   2017-05-12
70296   2017-05-12
70297   2017-05-12
70298   2017-05-12
70299   2017-05-12
70300   2017-05-12
70301   2017-05-12
70302   2017-05-12
70303   2017-05-13
70304   2017-05-12
70305   2017-05-12
70306   2017-05-12
70307   2017-05-13
70308   2017-05-12
70309   2017-05-12
70310   2017-05-12
70311   2017-05-12
70312   2017-05-12
70313   2017-05-12
70314   2017-05-12
Name: search_date, Length: 70315, dtype: datetime64[ns]

## dummy variables

In [192]:
pandas.get_dummies(df['building_use']).head(3)

,倉庫/其他,公寓/住辦,公寓/其他,公寓/分租套房,公寓/店面,公寓/整層住家,公寓/獨立套房,公寓/辦公,公寓/雅房,其他/其他,...,透天厝/辦公,透天厝/雅房,電梯大樓/住辦,電梯大樓/其他,電梯大樓/分租套房,電梯大樓/店面,電梯大樓/整層住家,電梯大樓/獨立套房,電梯大樓/辦公,電梯大樓/雅房
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [194]:
pandas.concat([df,pandas.get_dummies(df['building_use'])],axis=1)

,detail_url,search_date,title,address,floor_info,price,layout,building_area,building_use,latitude,...,透天厝/辦公,透天厝/雅房,電梯大樓/住辦,電梯大樓/其他,電梯大樓/分租套房,電梯大樓/店面,電梯大樓/整層住家,電梯大樓/獨立套房,電梯大樓/辦公,電梯大樓/雅房
0,https://rent.591.com.tw/rent-detail-1050934.html,2017-05-14,套房出租-近東方學院(六~八月可入住),高雄市湖內區民生街,3F/3F,"4,500元/月",NaN,6.00,透天厝/獨立套房,22.878436,...,0,0,0,0,0,0,0,0,0,0
1,https://rent.591.com.tw/rent-detail-1008046.html,2017-05-14,好房子【聰明的你、妳快來租吧】,新北市蘆洲區長安街,4F/5F,"7,500元/月",NaN,10.00,透天厝/獨立套房,25.081558,...,0,0,0,0,0,0,0,0,0,0
2,https://rent.591.com.tw/rent-detail-1586266.html,2017-05-12,陽台大套房(獨立洗衣機)近頂溪捷運站,新北市永和區中山路一段,8F/12F,"11,000元/月",NaN,8.00,電梯大樓/分租套房,25.010293,...,0,0,0,0,1,0,0,0,0,0
3,https://rent.591.com.tw/rent-detail-1699948.html,2017-05-13,火車站附近~~優質套房,屏東縣潮州鎮六合路,3F/3F,"5,000元/月",NaN,8.00,透天厝/獨立套房,22.551346,...,0,0,0,0,0,0,0,0,0,0
4,https://rent.591.com.tw/rent-detail-1404725.html,2017-05-12,觀音四維路優質陽台套房,桃園市觀音區四維路,4F/5F,"5,000元/月",NaN,7.00,透天厝/分租套房,25.043652,...,0,0,0,0,0,0,0,0,0,0
5,https://rent.591.com.tw/rent-detail-1633388.html,2017-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,"22,000元/月",2房1廳1衛1陽臺,24.00,電梯大樓/整層住家,25.136948,...,0,0,0,0,0,0,1,0,0,0
6,https://rent.591.com.tw/rent-detail-1299940.html,2017-05-14,近明新、台元/全新完工/飯店式電梯套房,新竹縣新豐鄉康樂路一段,3F/5F,"6,500元/月",NaN,7.00,電梯大樓/雅房,24.871279,...,0,0,0,0,0,0,0,0,0,1
7,https://rent.591.com.tw/rent-detail-1051432.html,2017-05-14,附網路電視包水費!離逢甲商圈近,台中市西屯區西屯路二段,3F/5F,"3,000元/月",NaN,4.00,透天厝/雅房,24.173195,...,0,1,0,0,0,0,0,0,0,0
8,https://rent.591.com.tw/rent-detail-2039449.html,2017-05-13,逢甲大學-有陽台的套房(獨立水電錶),台中市西屯區至善路,10F/14F,"6,800元/月",NaN,9.00,電梯大樓/獨立套房,24.178854,...,0,0,0,0,0,0,0,1,0,0
9,https://rent.591.com.tw/rent-detail-1245175.html,2017-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,"17,000元/月",2房1廳2衛2陽臺,32.00,電梯大樓/整層住家,25.130052,...,0,0,0,0,0,0,1,0,0,0
10,https://rent.591.com.tw/rent-detail-1902990.html,2017-05-12,絕美煙波美裝潢套房出租,新竹市東區明湖路,3F/8F,"10,000元/月",NaN,10.50,電梯大樓/獨立套房,24.776557,...,0,0,0,0,0,0,0,1,0,0
11,https://rent.591.com.tw/rent-detail-1944741.html,2017-05-14,政大靜巷優質(女)套房，可住雙人,台北市文山區指南路二段,5F/5F,"10,000元/月",NaN,6.00,公寓/獨立套房,24.988698,...,0,0,0,0,0,0,0,0,0,0
12,https://rent.591.com.tw/rent-detail-1548846.html,2017-05-14,5樓透天近北新國中\\\'四維國小\\\'財神廟,台中市北屯區瀋陽路三段,1F/5F,"16,000元/月",NaN,19.00,透天厝/辦公,24.172078,...,1,0,0,0,0,0,0,0,0,0
13,https://rent.591.com.tw/rent-detail-2042141.html,2017-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,"7,500元/月",2房2廳1衛1陽臺,24.00,電梯大樓/整層住家,23.468374,...,0,0,0,0,0,0,1,0,0,0
14,https://rent.591.com.tw/rent-detail-1326087.html,2017-05-13,七張捷運站旁大馬路邊獨立式套房,新北市新店區寶橋路,3F/7F,"11,000元/月",NaN,10.00,電梯大樓/獨立套房,24.974970,...,0,0,0,0,0,0,0,1,0,0
15,https://rent.591.com.tw/rent-detail-2037235.html,2017-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,"25,000元/月",4房3廳3衛3陽臺,78.00,電梯大樓/整層住家,25.140992,...,0,0,0,0,0,0,1,0,0,0
16,https://rent.591.com.tw/rent-detail-2226232.html,2017-05-13,出海口海景高樓層溫馨房,新北市淡水區中正東路一段,19F/21F,"15,000元/月",1房1廳1衛0陽臺,18.01,電梯大樓/整層住家,25.159416,...,0,0,0,0,0,0,1,0,0,0
17,https://rent.591.com.tw/rent-detail-1601466.html,2017-05-15,新四房兩廳鄰合晶科技歡迎分租,桃園市楊梅區蘋果路,整棟/3F,"23,000元/月",4房2廳2衛3陽臺,48.00,透天厝/住辦,24.900780,...,0,0,0,0,0,0,0,0,0,0
18,https://rent.591.com.tw/rent-detail-2107855.html,2017-05-09,"嘉義大學附近,交通便利",嘉義市東區學府路,1F/2F,"3,000元/月",NaN,5.00,透天厝/獨立套房,23.464327,...,0,0,0,0,0,0,0,0,0,0
19,https://rent.591.com.tw/rent-detail-2031537.html,2017-05-15,近台東大學優質平價套房,台東縣台東市豐盛路,1F/2F,"3,900元/月",NaN,5.00,透天厝/獨立套房,22.743134,...,0,0,0,0,0,0,0,0,0,0
20,https://rent.591.com.tw/rent-detail-1954040.html,2017-05-13,小巨捷運敦化學區樓中樓可三代同堂兼辦公,台北市松山區北寧路,5F/7F,"70,000元/月",7房2廳2衛1陽臺,66.35,電梯大樓/整層住家,25.051868,...,0,0,0,0,0,0,1,0,0,0
21,https://rent.591.com.tw/rent-detail-2206861.html,2017-05-15,全新裝潢，高級衛浴乾濕分離單人套房,彰化縣彰化市民族路,3F/4F,"5,000元/月",NaN,5.00,透天厝/獨立套房,24.072944,...,0,0,0,0,0,0,0,0,0,0
22,https://rent.591.com.tw/rent-detail-1392595.html,2017-05-13,台北東京*套房自租,桃園市桃園區大有路,12F/17F,"7,000元/月",NaN,10.00,電梯大樓/獨立套房,25.016318,...,0,0,0,0,0,0,0,1,0,0
23,https://rent.591.com.tw/rent-detail-2259478.html,2017-05-13,市區中心獨立套房(近市區.銀行.學校),台中市后里區民生路,2F/3F,"5,500元/月",NaN,8.00,透天厝/獨立套房,24.307666,...,0,0,0,0,0,0,0,0,0,0
24,https://rent.591.com.tw/rent-detail-2238354.html,2017-05-12,優質套房出租,新竹縣新豐鄉松林村,2F/4F,"6,000元/月",NaN,8.00,透天厝/獨立套房,24.870937,...,0,0,0,0,0,0,0,0,0,0
25,https://rent.591.com.tw/rent-detail-1891394.html,2017-05-13,成大暑期短/長mei0926108395,台南市東區光明街,1F/4F,"5,400元/月",NaN,7.00,透天厝/獨立套房,22.995903,...,0,0,0,0,0,0,0,0,0,0
26,https://rent.591.com.tw/rent-detail-2217774.html,2017-05-12,住辦，住家，店面,新竹縣竹北市新泰路,4F/9F,"50,000元/月",3房2廳2衛0陽臺,45.00,透天厝/整層住家,24.840336,...,0,0,0,0,0,0,0,0,0,0
27,https://rent.591.com.tw/rent-detail-2296316.html,2017-05-12,近新時代百貨精裝修電梯套房,台中市東區復興路四段,8F/10F,"3,200元/月",NaN,5.00,電梯大樓/獨立套房,24.137832,...,0,0,0,0,0,0,0,1,0,0
28,https://rent.591.com.tw/rent-detail-2030775.html,2017-05-12,健行路金店面-Ｔ路口紅綠燈下-具雙車位,桃園市桃園區健行路,1F/3F,"39,000元/月",NaN,38.00,透天厝/店面,25.022335,...,0,0,0,0,0,0,0,0,0,0
29,https://rent.591.com.tw/rent-detail-2227545.html,2017-05-14,全新優質套房出租..,台中市沙鹿區中山路,3F/4F,"6,500元/月",NaN,10.00,透天厝/獨立套房,24.236850,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70285,https://rent.591.com.tw/rent-detail-5192824.html,2017-05-12,內壢美4房附部分家電,桃園市中壢區永華街,4F/4F,"12,800元/月",4房2廳1衛0陽臺,30.00,公寓/整層住家,24.980533,...,0,0,0,0,0,0,0,0,0,0
70286,https://rent.591.com.tw/rent-detail-5192828.html,2017-05-13,近公館捷運站景觀套房,台北市中正區汀洲路三段,5F/7F,"9,500元/月",1房0廳1衛0陽臺,5.00,公寓/整層住家,25.013893,...,0,0,0,0,0,0,0,0,0,0
70287,https://rent.591.com.tw/rent-detail-5192836.html,2017-05-13,近中原夜市，中原大學,桃園市中壢區大仁一街,2F/6F,"5,000元/月",NaN,14.00,電梯大樓/獨立套房,24.953859,...,0,0,0,0,0,0,0,1,0,0
70288,https://rent.591.com.tw/rent-detail-5192845.html,2017-05-12,全新屋況設備景觀宅附停車位及\\機車位,桃園市楊梅區金山街,7F/15F,"14,000元/月",2房1廳1衛2陽臺,30.50,電梯大樓/整層住家,24.910914,...,0,0,0,0,0,0,1,0,0,0
70289,https://rent.591.com.tw/rent-detail-5192846.html,2017-05-13,四維路北大路交叉旁~近西門街西大路林森路,新竹市東區中山路,7F/10F,"14,000元/月",NaN,13.00,電梯大樓/獨立套房,24.800970,...,0,0,0,0,0,0,0,1,0,0
70290,https://rent.591.com.tw/rent-detail-5192866.html,2017-05-13,振興路中華路三段交叉旁四維路近中華路二段,新竹市東區林森路,3F/10F,"16,000元/月",NaN,15.00,電梯大樓/獨立套房,24.796188,...,0,0,0,0,0,0,0,1,0,0
70291,https://rent.591.com.tw/rent-detail-5192869.html,2017-05-13,新竹租屋-園區優3房傢電全附平車超大露台,新竹市東區慈雲路,15F/16F,"24,000元/月",3房2廳2衛2陽臺,55.00,電梯大樓/整層住家,24.790408,...,0,0,0,0,0,0,1,0,0,0
70292,https://rent.591.com.tw/rent-detail-5192888.html,2017-05-12,全新中科逢甲電梯套房，獨洗獨曬多戶可選,台中市北屯區崇德十路二段,2F/5F,"7,500元/月",NaN,5.50,別墅/獨立套房,24.192550,...,0,0,0,0,0,0,0,0,0,0
70293,https://rent.591.com.tw/rent-detail-5192907.html,2017-05-12,近捷運新店站光明小吃街碧潭風景區大潤發,新北市新店區光明街,4F/5F,"20,000元/月",2房1廳1衛1陽臺,20.00,公寓/整層住家,24.961912,...,0,0,0,0,0,0,0,0,0,0
70294,https://rent.591.com.tw/rent-detail-5192912.html,2017-05-12,[捷運高鐵特區]宜誠青埔市-附家具洗衣機,桃園市大園區領航北路四段,9F/10F,"15,000元/月",3房2廳2衛0陽臺,38.00,電梯大樓/整層住家,25.023195,...,0,0,0,0,0,0,1,0,0,0
70295,https://rent.591.com.tw/rent-detail-5192922.html,2017-05-12,近雲科大精緻裝潢，全新傢俱家電也可售屋,雲林縣斗六市江厝路,4F/5F,"12,000元/月",4房2廳2衛4陽臺,45.00,公寓/整層住家,23.675011,...,0,0,0,0,0,0,0,0,0,0
70296,https://rent.591.com.tw/rent-detail-5192926.html,2017-05-12,首選大氣格局滿足挑剔的你,桃園市中壢區新生路三段,8F/15F,"25,000元/月",3房2廳2衛2陽臺,30.00,電梯大樓/整層住家,25.002789,...,0,0,0,0,0,0,1,0,0,0
70297,https://rent.591.com.tw/rent-detail-5192934.html,2017-05-12,"近內科德明,獨立陽台雅房釋出",台北市內湖區環山路二段,5F/5F,"9,000元/月",NaN,8.00,公寓/雅房,25.086512,...,0,0,0,0,0,0,0,0,0,0
70298,https://rent.591.com.tw/rent-detail-5192942.html,2017-05-12,台南市佳里區雅房出租＊仲介勿擾＊,台南市佳里區塭仔內,2F/3F,"4,000元/月",NaN,7.00,透天厝/雅房,23.170185,...,0,1,0,0,0,0,0,0,0,0
70299,https://rent.591.com.tw/rent-detail-5192983.html,2017-05-12,屋況佳生活機能棒附家俱,新北市汐止區福德一路,5F/5F,"7,800元/月",NaN,8.00,透天厝/獨立套房,25.064566,...,0,0,0,0,0,0,0,0,0,0
70300,https://rent.591.com.tw/rent-detail-5192991.html,2017-05-12,文心西屯~五臟俱全簡潔套房《屋主自租》,台中市西屯區洛陽路,6F/6F,"5,800元/月",NaN,5.00,公寓/獨立套房,24.167176,...,0,0,0,0,0,0,0,0,0,0
70301,https://rent.591.com.tw/rent-detail-5193013.html,2017-05-12,中原大學、中原商圈、學生優惠,桃園市中壢區新中北路,5F/7F,"5,000元/月",NaN,10.00,電梯大樓/獨立套房,24.959332,...,0,0,0,0,0,0,0,1,0,0
70302,https://rent.591.com.tw/rent-detail-5193057.html,2017-05-12,近振興街磺溪名社區●2房超寬敞空間含車位,台北市北投區天母西路,3F/23F,"170,000元/月",2房2廳3衛3陽臺,101.77,電梯大樓/整層住家,25.118535,...,0,0,0,0,0,0,1,0,0,0
70303,https://rent.591.com.tw/rent-detail-5193064.html,2017-05-13,成大夢時代超值套房(包水、網路),台南市東區東寧路,4F/5F,"4,200元/月",NaN,6.00,透天厝/獨立套房,22.990912,...,0,0,0,0,0,0,0,0,0,0
70304,https://rent.591.com.tw/rent-detail-5193073.html,2017-05-12,好山好水...棒啦!!,新北市汐止區汐萬路二段,15F/15F,"8,500元/月",1房1廳1衛1陽臺,13.60,電梯大樓/整層住家,25.090749,...,0,0,0,0,0,0,1,0,0,0
70305,https://rent.591.com.tw/rent-detail-5193089.html,2017-05-12,全新裝潢刷卡門禁近高應大步行2分上學,高雄市三民區建工路,3F/4F,"5,800元/月",NaN,7.00,透天厝/獨立套房,22.652017,...,0,0,0,0,0,0,0,0,0,0
70306,https://rent.591.com.tw/rent-detail-5193091.html,2017-05-12,租瑞光路隔間辦公室87519898進捷運,台北市內湖區瑞光路,8F/8F,"135,000元/月",NaN,91.00,電梯大樓/辦公,25.068552,...,0,0,0,0,0,0,0,0,1,0
70307,https://rent.591.com.tw/rent-detail-5193105.html,2017-05-13,運動套房❤貓奴首選❤陽台獨洗❤台電計費,台中市北區太原路三段,5F/6F,"6,499元/月",NaN,10.00,公寓/獨立套房,24.166702,...,0,0,0,0,0,0,0,0,0,0
70308,https://rent.591.com.tw/rent-detail-5193118.html,2017-05-12,斗六九老爺西廂平房,雲林縣斗六市久安中路,1F/1F,"8,000元/月",3房2廳2衛0陽臺,50.00,透天厝/整層住家,23.681630,...,0,0,0,0,0,0,0,0,0,0
70309,https://rent.591.com.tw/rent-detail-5193127.html,2017-05-12,東山套房❤陽台獨洗❤系統家具❤即刻入住,台中市北區太原路三段,3F/5F,"6,799元/月",NaN,10.00,透天厝/獨立套房,24.164725,...,0,0,0,0,0,0,0,0,0,0
70310,https://rent.591.com.tw/rent-detail-5193159.html,2017-05-12,民權路交叉近民族路民生路~遠東巨城百貨旁,新竹市東區中華路二段,5F/10F,"13,500元/月",NaN,8.00,電梯大樓/獨立套房,24.806402,...,0,0,0,0,0,0,0,1,0,0
70311,https://rent.591.com.tw/rent-detail-5193163.html,2017-05-12,愛河景觀大套房,高雄市前金區大同二路,10F/12F,"8,800元/月",NaN,19.00,電梯大樓/獨立套房,22.624536,...,0,0,0,0,0,0,0,1,0,0
70312,https://rent.591.com.tw/rent-detail-5193164.html,2017-05-12,全新未住~時尚單人床~歡迎入住逢甲,台中市西屯區福星路,2F/4F,"5,999元/月",NaN,6.00,透天厝/獨立套房,24.174660,...,0,0,0,0,0,0,0,0,0,0
70313,https://rent.591.com.tw/rent-detail-5193215.html,2017-05-12,＜超值學生雅房＞設備齊全！全都包！,高雄市大社區中華路,3F/3F,"3,300元/月",NaN,5.00,透天厝/雅房,22.727473,...,0,1,0,0,0,0,0,0,0,0
70314,https://rent.591.com.tw/rent-detail-5193225.html,2017-05-12,近捷運中山站【全新電梯小豪邸】獨立洗衣機,台北市大同區太原路,3F/20F,"17,000元/月",NaN,10.00,電梯大樓/獨立套房,25.055486,...,0,0,0,0,0,0,0,1,0,0

In [197]:
df['building_use'].str.split('/').head()

0     [透天厝, 獨立套房]
1     [透天厝, 獨立套房]
2    [電梯大樓, 分租套房]
3     [透天厝, 獨立套房]
4     [透天厝, 分租套房]
Name: building_use, dtype: object

In [198]:
df['btype'] = df['building_use'].str.split('/')

## 正規運算式

In [199]:
phone = '0912345678'
p1 = '0912-345-678'
p2 = '0912-345678'
p3 = '091234456478677486'
p4 = '082222222'

In [205]:
a = '0'
import re
print(re.match('0',a))
print(re.match('1',a))

<_sre.SRE_Match object; span=(0, 1), match='0'>
None

In [209]:
#print(re.match('[0123456789]',a))
#print(re.match('[0-9]',a))
print(re.match('\d',a))

<_sre.SRE_Match object; span=(0, 1), match='0'>

## 比對英文字母

In [213]:
s  = 'g'
#print(re.match('[a-zA-Z]',s))
print(re.match('[\w]',s))

<_sre.SRE_Match object; span=(0, 1), match='g'>

## 比對特殊符號

In [215]:
s='$'
#print(re.match('\w',s))
print(re.match('.',s))

<_sre.SRE_Match object; span=(0, 1), match='$'>

### 比對車牌

In [217]:
s = '9988'
print(re.match('\d{4}',s))

<_sre.SRE_Match object; span=(0, 4), match='9988'>

In [222]:
p = '0912345678'
phones = ['0912345678','0912-345678','0912-345-678','091234854354864']
#print(re.match('\d{10}',p))
#print(re.match('09\d{8}',p))

for i in phones:
    print(re.match('^09\d{2}-?\d{3}-?\d{3}$',i))

<_sre.SRE_Match object; span=(0, 10), match='0912345678'>
<_sre.SRE_Match object; span=(0, 11), match='0912-345678'>
<_sre.SRE_Match object; span=(0, 12), match='0912-345-678'>
None

## 正規表達法實際案例

In [228]:
import re
email = 'David@largitdata.com'

#m = re.match('(\w+)@(\w+)',email)
m = re.match('(\w+)@([\w.]+)',email)
print(m.group())
print(m.group(0))
print(m.group(1))
print(m.group(2))

David@largitdata.com
David@largitdata.com
David
largitdata.com

In [230]:
n = '1999.5'
m = re.match('(\d+)\.(\d+)',n)
print(m.group())
print(m.group(1))
print(m.group(2))

1999.5
1999
5

In [233]:
name = 'David Chiu'
m = re.match('(\w+) (\w+)',name)
print(m.group())

m = re.match('(?P<first_name>\w+) ?P<last_name\w+>',name )
print (first_name, last_name)

David Chiu

NameError: name 'first_name' is not defined

In [235]:
command = 'scp 1.txt root@10.0.0.1:./'

m = re.match('^scp (.+?) (\w+)@([\d.]+):(.+)',command)
print(m)

<_sre.SRE_Match object; span=(0, 26), match='scp 1.txt root@10.0.0.1:./'>

## 套用正規表達法到DataFrame上

In [238]:
df['layout'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: layout, dtype: object

In [245]:
df2 = df[df['layout'].notnull()]
df2[['bedroom','living_room','bath_room','balcony']] = df['layout'].str.extract('(\d+)房(\d+)廳(\d+)衛(\d+)陽臺')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:2450: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [246]:
df2.head()

,detail_url,search_date,title,address,floor_info,price,layout,building_area,building_use,latitude,longitude,btype,bedroom,living_room,bath_room,balcony
5,https://rent.591.com.tw/rent-detail-1633388.html,2017-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,"22,000元/月",2房1廳1衛1陽臺,24.00,電梯大樓/整層住家,25.136948,121.462779,"[電梯大樓, 整層住家]",2,1,1,1
9,https://rent.591.com.tw/rent-detail-1245175.html,2017-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,"17,000元/月",2房1廳2衛2陽臺,32.00,電梯大樓/整層住家,25.130052,121.720788,"[電梯大樓, 整層住家]",2,1,2,2
13,https://rent.591.com.tw/rent-detail-2042141.html,2017-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,"7,500元/月",2房2廳1衛1陽臺,24.00,電梯大樓/整層住家,23.468374,120.434201,"[電梯大樓, 整層住家]",2,2,1,1
15,https://rent.591.com.tw/rent-detail-2037235.html,2017-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,"25,000元/月",4房3廳3衛3陽臺,78.00,電梯大樓/整層住家,25.140992,121.508139,"[電梯大樓, 整層住家]",4,3,3,3
16,https://rent.591.com.tw/rent-detail-2226232.html,2017-05-13,出海口海景高樓層溫馨房,新北市淡水區中正東路一段,19F/21F,"15,000元/月",1房1廳1衛0陽臺,18.01,電梯大樓/整層住家,25.159416,121.456672,"[電梯大樓, 整層住家]",1,1,1,0

## Pandas I/O

In [253]:
import requests
import pandas

m_cols = ['Time','Action','User','Product','Quantity','Price']
#es = requests.get('https://github.com/ywchiu/tibamepy/blob/master/data/purchase_order.tab')

df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/purchase_order.tab',\
                     sep='\t',header = None, parse_dates={'Dates':[0]},names=m_cols,encoding='utf-8')
df.head().to_json()

'{"Dates":{"0":1435708801000,"1":1435708803000,"2":1435708819000,"3":1435708870000,"4":1435708896000},"Action":{"0":"order","1":"order","2":"order","3":"order","4":"order"},"User":{"0":"U312622727","1":"U239012343","2":"U10007697373","3":"U296328517","4":"U300884570"},"Product":{"0":"P0006944501","1":"P0006018073","2":"P0002267974","3":"P0016144236","4":"P0014516980122"},"Quantity":{"0":1,"1":1,"2":1,"3":1,"4":1},"Price":{"0":1069.0,"1":1680.0,"2":285.0,"3":550.0,"4":249.0}}'

## 抓取台銀匯率

In [264]:
import requests
from bs4 import BeautifulSoup

res = requests.get('http://rate.bot.com.tw/xrt/quote/day/USD')
soup = BeautifulSoup(res.text,'html.parser')

In [ ]:
bot =